---
import IndexLayout from "../layouts/IndexLayout.astro";
import ContentGrid from "../components/ContentGrid.astro";
import SearchForm from "../components/SearchForm.astro";
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>My Digital Garden</title>
    </head>
    <body>
        <IndexLayout>
            <SearchForm />
            <ContentGrid />
        </IndexLayout>
    </body>
</html>
