---
// https://docs.astro.build/en/guides/markdown-content/

import { getCollection, render } from "astro:content";

const notes = await getCollection("notes");
---

<main>
    <div class="main-container">
        <h3>Content grid component</h3>
        <p>This component should list "notes" collection</p>
    </div>
    <div class="notes-list">
        <ul>
            {
                notes.map((note) => (
                        <li class="post-card">
                            <a href={`/notes/${note.id}`}>
                                {note.data.title} / note.id: {note.id}
                            </a>
                        </li>
                ))
            }
        </ul>
    </div>
</main>

<style>
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .post-card {
        border: 1px solid black;
        border-radius: 0.3rem;
        background-color: hsl(180, 15%, 49%);
        width: 200px;
        height: 100px;
    }
    ul {
        list-style: none;
    }
    li {
        padding: 1rem;
        margin: 0.2rem;
    }
</style>
