---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/digital_garden/public/favicon.svg"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>My Knowledge Base</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/content">Content</a>

        <h1>About page</h1>
    </body>
</html>
